/* GLOBALS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p,
button {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

/* CARD SECTION */

.card {
    background-color: white;
    width: 45%;
    height: 60vh;
    border-radius: 10px;
    display: flex;
}

/* IMAGE SECTION */

.image {
    width: 50%;
    height: 60vh;
    background-image: url(../images/image-product-desktop.jpg);
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

/* PRODUCT CONTENT */

.product-content {
    width: 50%;
    padding: 40px;
}

.product-title {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 2.1rem;
    padding-right: 20px;
    margin-bottom: 15px;
    line-height: 1;
}

.sub-title {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

.description {
    line-height: 1.5;
}

/* PRICE SECTION */

.price-section {
    display: flex;
    align-items: center;
    height: 60px;
}

.off-price p {
    color: hsl(158, 36%, 37%);
    font-weight: bold;
    font-size: 30px;
    font-family: 'Fraunces', serif;
}

.origin-price p,
.origin-price hr {
    margin-left: 30px;
}

hr {
    position: relative;
    bottom: 10px;
}

button {
    width: 100%;
    height: 50px;
    background-color: hsl(158, 36%, 37%);
    border: 1px solid hsl(158, 59%, 46%);
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}

button img {
    margin-right: 10px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1445px) {

    .sub-title,
    .product-title,
    .description,
    .price-section {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1025px) {
    .card {
        width: 55%;
        height: 65vh;
    }

    .product-title,
    .off-price {
        font-size: 1.5em;
    }

    p,
    button {
        font-size: .8rem;
    }

    button {
        height: 40px;
    }

    .image {
        height: 65vh;
    }

    .description,
    .product-title,
    .sub-title {
        margin-bottom: 15px;
    }

    .price-section {
        margin-bottom: 10px;
        height: 40px;
    }

    hr {
        bottom: 8px;
    }
}

@media only screen and (max-width: 769px) {
    .card {
        width: 80%;
    }

    .price-section {
        height: 50px;
    }
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 426px) {
    .card {
        flex-flow: column;
        width: 90%;
        height: 92vh;
    }

    .image {
        background-image: url(../images/image-product-mobile.jpg);
        background-size: cover;
        width: 100%;
        height: 39vh;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .product-content {
        width: 100%;
    }
}

@media only screen and (max-width: 376px) {
    .product-content {
        padding: 20px;
    }

    .price-section {
        margin-bottom: 20px;
    }

    button {
        height: 50px;
    }

}

@media only screen and (max-width:321px) {

    .price-section {
        margin-bottom: 10px;
    }

    button {
        height: 40px;
    }
}

@media only screen and (max-width:250px) {
    .price-section {
        flex-direction: column;
    }

    .origin-price p,
    .origin-price hr {
        margin: 0 0 0 0;
    }
}