/* GLOBALS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

p,
button {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

/* CARD SECTION */

.card {
    display: flex;
    background-color: white;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

/* IMAGE SECTION */

.product-img {
    width: 50%;
    background-image: url(../images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

/* PRODUCT CONTENT */

.product-content {
    width: 50%;
    padding: 3rem;
}

.product-title {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 3rem;
    padding-right: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1;
}

.sub-title {
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 1.5rem;
}

.description {
    line-height: 1.5;
}

/* PRICE SECTION */

.price-section {
    display: flex;
    align-items: center;
    height: 6rem;
}

.off-price p {
    color: hsl(158, 36%, 37%);
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Fraunces', serif;
}

.origin-price p,
.origin-price hr {
    margin-left: 3rem;
}

hr {
    position: relative;
    bottom: 1rem;
}

button {
    width: 100%;
    height: 5rem;
    background-color: hsl(158, 36%, 37%);
    border: 1px solid hsl(158, 59%, 46%);
    border-radius: 10px;
    margin-top: .5rem;
    color: white;
}

button:hover {
    color: hsl(158, 36%, 37%);
    font-weight: bold;
    background-color: hsl(159, 36%, 62%);
    border: 1px solid hsl(158, 36%, 37%);
}

button:active {
    box-shadow: 0 0 1.5rem hsl(158, 47%, 15%) inset;
}

button img {
    margin-right: 1rem;
}

/* RESPONSIVE */

@media only screen and (max-width: 1100px) {

    html {
        font-size: 9px;
    }

    .card {
        width: 65%;
    }
}

@media only screen and (max-width: 725px) {
    html {
        font-size: 8px;
    }

    .card {
        width: 75%;
    }
}

@media only screen and (max-width: 560px) {
    html {
        font-size: 7px;
    }

    .card {
        width: 90%;
    }
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 410px) {
    .card {
        flex-flow: column;
        width: 90%;
    }

    .product-img {
        background-image: url(../images/image-product-mobile.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 32vh;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .product-content {
        width: 100%;
    }
}